<style>
    IMG.links {
        width: 40%;
        max-width: 40px;
        min-width: 25px;
    }

    ul.social {
        list-style-type: none;
        padding: 0;
        padding-right: 3%;
        width: 100%;
        left: 0;
        position: absolute;
        bottom: 0px;
        right: 0px;

    }

    li.social {
        float: left;
        /* position: relative; */
    }


    li.social a:hover {
        background-color: #ffffff00;
    }
</style>

<ul class="social">
    <li class="social"><a href="https://soundcloud.com/twostarsmedia/">
            <IMG class="links" src="./images/soundcloud-w.png">
        </a></li>

    <li class="social"><a href="https://www.youtube.com/user/yttwostarmedia">
            <IMG class="links" src="./images/youtube-w.png">
        </a></li>

    <li class="social"><a href="https://twostarsmedia.bandcamp.com/">
            <IMG class="links" src="./images/bandcamp-w.png">
        </a></li>

    <li class="social"><a href="https://open.spotify.com/artist/3NUiJY9LsCHfNe0zXumYSP">
            <IMG class="links" src="./images/spotify-w.png">
        </a></li>
</ul>
